[Unit]
Description=Periodic Headunit Raspberry Pi HUD git update check

[Timer]
OnBootSec=3min
OnUnitActiveSec=30min
Persistent=true

[Install]
WantedBy=timers.target
